[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
gunicorn = "*"
gevent = "*"

[dev-packages]
pytest-django = "*"
pytest-mock = "*"
pytest-cov = "*"
requests = "*"
parsel = "*"

[requires]
python_version = "3.7"
