[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
whitenoise = { extras = ['brotli'] }
gunicorn = "*"
gevent = "*"
python-json-logger = "*"

[dev-packages]
pytest-django = "*"
pytest-mock = "*"
pytest-cov = "*"
requests = "*"
parsel = "*"

[requires]
python_version = "3.7"
