[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
gunicorn = "*"
gevent = "*"
python-json-logger = "*"
django-cors-headers = "*"
requests = "*"
requests-oauthlib = "*"
transcriber-wrapper = "*"
django-q = "*"
tweepy = "*"

[dev-packages]
pytest-django = "*"
pytest-mock = "*"
pytest-cov = "*"
black = "*"
isort = "*"
mypy = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
