{% extends "core/templates/base.html" %}
{% load custom_components %}

{# No JS to be loaded #}
{% block scripts %}{% endblock %}

{% block content %}
    <div class="container history-section">
        <div class="row">
            <div class="col s12">
                <div class="row">
                    <div class="col s12">
                        <section>
                            <h2 class="center-align">Latest Updates</h2>
                            {% with title="History item now can be consulted again" registered_at="January 10th, 2021" %}
                                {% with feature_added=1 feature_updated=0 %}
                                    {% entry_changelog title registered_at feature_added feature_updated %}
                                    When we launched the site some features were already included, like the history
                                    of what you transcribe/listen, but without allowing you to click on a row to
                                    avoid you to type it again, now it's available and you can use the generated
                                    link to share with your friends.
                                    {% entry_changelog %}
                                {% endwith %}
                            {% endwith %}

                            <article class="changelog-article">
                                <div class="col s12">
                                    <header><h3 class="center-align">History item now can be consulted again</h3>
                                    </header>
                                </div>
                                <div class="col s12 m4 l3">
                                    <aside>
                                        <p>January 10th, 2021</p>
                                        <span class="new badge orange" data-badge-caption="updated">1</span>
                                        <span class="new badge blue" data-badge-caption="added">1</span>
                                    </aside>
                                </div>
                                <div class="col s12 m8 l9">
                                    <p>When we launched the site some features were already included, like the history
                                        of what you transcribe/listen, but without allowing you to click on a row to
                                        avoid you to type it again, now it's available and you can use the generated
                                        link to share with your friends.</p>
                                </div>
                            </article>
                            <article class="changelog-article">
                                <div class="col s12">
                                    <header><h3 class="center-align">Loop speech audio</h3></header>
                                </div>
                                <div class="col s12">
                                    <aside>
                                        <p>January 8th, 2021</p>
                                        <span class="new badge blue" data-badge-caption="added">1</span>
                                    </aside>
                                </div>
                                <div class="col s12">
                                    <p>It's quite annoying to have to press PLAY button to repeat a word or phrase you
                                        want to hear again many times, now you can activate an option which will allow
                                        you to listen repeatedly until you press STOP.</p>
                                </div>
                            </article>
                            <article class="changelog-article">
                                <div class="col s12">
                                    <header><h3 class="center-align">New icons</h3></header>
                                </div>
                                <div class="col s12">
                                    <aside>
                                        <p>January 7th, 2021</p>
                                        <span class="new badge blue" data-badge-caption="added">1</span>
                                    </aside>
                                </div>
                                <div class="col s12">
                                    <p>Before if you share our site through Telegram, WhatsApp and others you would
                                        get nothing in terms of description, image and/or icon, and now you have!</p>
                                </div>
                            </article>
                            <article class="changelog-article">
                                <div class="col s12">
                                    <header><h3 class="center-align">Launch of Rave of Phonetics</h3></header>
                                </div>
                                <div class="col s12">
                                    <aside>
                                        <p>January 6th, 2021</p>
                                        <span class="new badge blue" data-badge-caption="added">1</span>
                                    </aside>
                                </div>
                                <div class="col s12">
                                    <p>After some weeks of work, we launched this IPA transcription and spelling tool!
                                        We were tired of using another phonetics transcription sites and as such we
                                        decided to build ours.</p>
                                </div>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
