{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Rave of Phonetics</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width">
    <link rel="manifest" href="{% static 'core/manifest.webapp' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'core/css/style.css' %}">
</head>

<body>
<h1>Rave of Phonetics</h1>

<p>Enter some text in the input below and press return or the "play" button to hear it. change voices using the dropdown menu.</p>

<form method="post">{% csrf_token %}
    <input type="text" class="txt" name="word-to-be-evaluated" value="{{ word }}">
    <div class="controls">
        <button id="transcript" type="submit">Show Transcription</button>
    </div>
    {% if phones %}
        <p>{{ phones }}</p>
    {% endif %}
    <div>
        <label for="rate">Rate</label>
        <input type="range" min="0.5" max="2" value="1" step="0.1" id="rate" name="rate">
        <div class="rate-value">1</div>
        <div class="clearfix"></div>
    </div>
    <div>
        <label for="pitch">Pitch</label>
        <input type="range" min="0" max="2" value="1" step="0.1" id="pitch" name="pitch">
        <div class="pitch-value">1</div>
        <div class="clearfix"></div>
    </div>
    <select name="available-voices"></select>
    <div class="controls">
        <button name="stop" type="submit">Stop</button>
        <button name="play" type="submit">Play</button>
    </div>
</form>

<script src="{% static 'core/js/services/WebSpeechAPI.js' %}"></script>
<script src="{% static 'core/js/controllers/TranscriptController.js' %}"></script>
<script src="{% static 'core/js/app.js' %}"></script>
</body>
</html>
