{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Rave of Phonetics</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="{% static 'core/manifest.webapp' %}">
    <link rel="stylesheet" type='text/css' href="{% static 'core/css/style.css' %}">
    {#    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">#}
    {#    <link href="https://unpkg.com/material-components-web@8.0.0/dist/material-components-web.min.css" rel="stylesheet">#}
    {#    <script src="https://unpkg.com/material-components-web@8.0.0/dist/material-components-web.min.js"></script>#}
</head>

<body>
<h1>Rave of Phonetics</h1>

<p>Enter some text in the input below and press return or the "play" button to hear it. change voices using the dropdown
    menu.</p>

<form method="post" class="boo">{% csrf_token %}

    <div class="custom-message"></div>

    <textarea required class="txt" name="text-to-be-transcribed">{{ text }}</textarea>
    <div class="controls">
        <button id="transcript" type="submit">Show Transcription</button>
        {#        <button name="clear-input" type="submit">Clear</button>#}
    </div>
    {% if transcription %}
        <p>{{ transcription }}</p>
    {% endif %}
    <div>
        <label for="rate">Rate</label>
        <input type="range" min="0.5" max="2" value="1" step="0.1" name="rate">
        <div class="rate-value">1</div>
        <div class="clearfix"></div>
    </div>
    <div>
        <label for="pitch">Pitch</label>
        <input type="range" min="0" max="2" value="1" step="0.1" name="pitch">
        <div class="pitch-value">1</div>
        <div class="clearfix"></div>
    </div>
    <div>
        <label>American
            <input type="radio" name="chosen-language" value="en-us" checked/>
        </label>
        <label>British
            <input type="radio" name="chosen-language" value="en-gb"/>
        </label>
    </div>
    <select name="available-voices"></select>
    <div class="controls">
        <button name="play" type="submit" class="speech-play">Play</button>
        <button name="clear-history" type="submit">Clear history</button>
    </div>
</form>

<br />
<br />

<div class="history"></div>

<script src="{% static 'core/js/ui/MessageView.js' %}"></script>
<script src="{% static 'core/js/ui/HistoryView.js' %}"></script>
<script src="{% static 'core/js/utils/forms.js' %}"></script>
<script src="{% static 'core/js/services/WebSpeechAPI.js' %}"></script>
<script src="{% static 'core/js/domain/Message.js' %}"></script>
<script src="{% static 'core/js/domain/History.js' %}"></script>
<script src="{% static 'core/js/domain/TextConfiguration.js' %}"></script>
<script src="{% static 'core/js/controllers/TranscriptController.js' %}"></script>
<script src="{% static 'core/js/app.js' %}"></script>
</body>
</html>
