.page-header nav {
  background-color: #26a69a;
}

.page-header nav .brand-logo {
  font-size: 21px;
}

@media #{$small-and-down} {
  .page-header nav div.container {
    margin: unset;
    max-width: unset;
    width: unset;
  }
  .page-header nav div.row {
    margin: unset;
  }

  .page-header nav div.col {
    padding: unset;
    float: unset;
  }
}

@media #{$medium-and-up} {
  .page-header nav .brand-logo {
    font-size: 2.1rem;
  }
}
