<footer class="container">
    <div class="row about-section">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">About us</span>
                    <p>Use this text to IPA (International Phonetic Alphabet) phonetic transcription to rule how to
                        speech a word, phrase or text. We know how hard can it be, but don't worry, there are many tools
                        that can help you out on that, for example, did you know that TO, TWO and TOO have the same
                        sound? Many people confuse the sound of TO with CHEW and here you can practice to get better!
                        If you don't know IPA, don't worry because <a href="http://bit.ly/389m6dH" rel="noreferrer noopener" target="_blank">IPA
                            Chart With Sounds</a> is available for free! Check it out 👏</p>
                    <br/>
                    <p>Stay tuned! This was created in January of 2021! More to come soon!
                        See <a href="http://bit.ly/3oude85" rel="noreferrer noopener" target="_blank">this reddit post</a> and
                        leave your feedback 💬</p>
                    <hr />
                    <p>Developed by <a href="https://github.com/willianantunes" rel="noreferrer noopener" target="_blank" >Willian Antunes</a> as
                        a means to learn a new technology. Do it yourself too!</p>
                    <hr/>
                    <p>This website uses cookies. We use cookies to personalise content and ads,
                        and to analyse our traffic.</p>
                </div>
            </div>
        </div>
    </div>
</footer>
